.home2 {
    background-image: url(../images/home2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    /* Center vertically */
}


.home2 .content_home2 {
    margin-left: 30vh;
    font-size: larger;
    text-align: center;
}

.home2 .content_home2 a {
    color: black;
    margin-top: 5px;
    text-decoration: none;
    padding: 5px 130px;
    border-radius: 5px;
    background-color: #ddd;
}

.home2 .content_home2 a:hover {
    color: #00000098;
}


.photos_component {
    padding: 20px;
}

.explore {
    margin-bottom: 20px;
    text-align: center;
}

.explore a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5f6d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.explore a:hover {
    background-color: #ff4452;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 20px;
}

.photo-item {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.photo-item img:hover {
    transform: scale(1.05);
}

@media (min-width: 1024px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
    }

    .photo-item {
        height: 450px;
    }
}

@media (max-width: 1024px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }

    .home2 .content_home2 {
        margin-left: 10vh;
    }
}

@media (max-width: 600px) {
    .photos {
        grid-template-columns: repeat(1, 1fr);
    }

    .home2 .content_home2 {
        margin-left: 4vh;
    }

    .home2 .content_home2 a {
        padding: 5px 30px;
    }

    .home2 .content_home2 {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .explore {
        text-align: center;
    }

    .home2 .content_home2 a {
        padding: 5px 30px;
    }
    
    .home2 .content_home2 {
        width: 50%;
    }
}