.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: #ffffff;
}

.navbar img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.logindiv {
    display: flex;
    gap: 10px;
}

.logindiv a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

.logindiv a:hover {
    color: #00000098;
}
.logindiv p {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

.logindiv p:hover {
    color: #00000098;
}